
<h1 style="background-color: #ffffff; color: black;" mat-dialog-title>Come Funziona il Generatore di Swagger</h1>
<mat-dialog-content style="background-color: #ffffff; color: black;">
  <p style="padding-top: 15px;">

    Il nostro Generatore di Swagger è uno strumento avanzato che semplifica la creazione di
    documentazione Swagger direttamente da file Java. Grazie alla sua interfaccia intuitiva e
    ai suoi potenti algoritmi di analisi, puoi generare rapidamente una documentazione completa e conforme agli standard API.
    Segui i passaggi seguenti per ottenere la tua documentazione in modo efficiente e senza sforzi.
  </p>
  <p>
    <strong>Passaggi per Generare la Documentazione Swagger:</strong>
  </p>
  <ol>
    <li>
      <strong>Carica i File:</strong> Clicca sul pulsante "Upload Folder" e seleziona la cartella contenente i tuoi file Java.
      Assicurati che i file siano formattati correttamente per la generazione di Swagger.
    </li>
    <li>
      <strong>Genera Swagger:</strong> Una volta caricati i file, clicca sul pulsante
      "Generate Swagger".
      Il sistema elaborerà i file e genererà la documentazione necessaria.
    </li>
    <li>
      <strong>Attendi l'Output:</strong> Dopo che il processo è completato, riceverai un file ZIP contenente la documentazione Swagger generata,
      insieme a un mapping dei nomi nuovi dei componenti.
    </li>
  </ol>
  <p>
    Con il nostro generatore, puoi semplificare il processo di documentazione delle tue API, garantendo una facile integrazione e
    un uso efficiente della tua libreria Java.
  </p>
</mat-dialog-content>
<mat-dialog-actions style="background-color: #ffffff; color: black;">
  <button style="background-color: #008181C4; color: white;" mat-button mat-dialog-close>Chiudi</button>
</mat-dialog-actions>
